[submodule "saleor"]
	path = saleor
	url = https://github.com/vonq/saleor.git
	branch = jmp/pkb-integration-master
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/vonq/saleor-storefront
	branch = feature/vacancies
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/vonq/saleor-dashboard.git
	branch = master
[submodule "vacancy-service"]
	path = vacancy-service
	url = https://github.com/vonq/integration-layer
	branch = vacancy-service
