[submodule "saleor"]
	path = saleor
	url = https://github.com/vonq/saleor.git
	branch = jmp/pkb-integration
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/vonq/saleor-storefront
	branch = develop
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/mirumee/saleor-dashboard.git
	branch = 3.0
